<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>User Registry</title>


</head>

<body>
  
    {{{ body }}}
  
<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: '1390452918164568',
      autoLogAppEvents: true,
      xfbml: true,
      version: 'v16.0'
    });
  };
</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>


</html>
