<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>

    <!--Style-->
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/contact.css">

    <!--bulma link-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&display=swap" rel="stylesheet">

    <!--Font Awesome Link-->
    <script
      src="https://kit.fontawesome.com/f3e5b655dc.js"
      crossorigin="anonymous"
    ></script>

</head>
<body>

    <!--NAVBAR-->
    <nav class="nav-bar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="./profile" class="nav-link">
                    <i class="fa-regular fa-user" style="color: #fdf4f5;"></i>
                    <span class="link-text logo-text">Profile</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="./history" class="nav-link">
                    <i class="fa-solid fa-clock-rotate-left" style="color: #fdf4f5;"></i>
                    <span class="link-text logo-text">History</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="./hub" class="nav-link">
                    <i class="fa-solid fa-arrow-up-from-bracket" style="color: #fdf4f5;"></i>
                    <span class="link-text logo-text">Upload</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link">
                    <i class="fa-solid fa-door-open" style="color: #fdf4f5;"></i>
                    <span class="link-text logo-text">Logout</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="title-contr">
        <p class="title is-1">Contact us</p>
    <p class="subtitle is-3">Questions? Comments? Kudos? Let us know!</p>
    </div>
    
        <!-- contact form-->
        <div class="contact-contr">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">From</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="Name">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control is-expanded has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="placeholder@email.com">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
          
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Subject</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" type="text" placeholder="e.g. Partnership opportunity">
                </div>
                <p class="help is-danger">
                  This field is required
                </p>
              </div>
            </div>
          </div>
          
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Question</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <textarea class="textarea" placeholder="Explain how we can help you"></textarea>
                </div>
              </div>
            </div>
          </div>
          
          <div class="field is-horizontal">
            <div class="field-label">
              <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <button class="button is-primary">
                    Send message
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

</body>
</html>