<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="../public/css/index.css">
    
    <!--bulma link-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&display=swap" rel="stylesheet">
</head>
<body> 
    <!--will need login button in sliding css element-->
<div>
    <div class="login-bar">
        <div class="logo">
            <img src="../assets/img/SiPurp.png" alt="Share.it logo">
        </div>
        <form class="login-form">
			<input type="text" class="top-input-box" placeholder="Username"/>
            <input type="text" class="top-input-box" placeholder="Password"/>
                <button class="top-input-box" id="login-btn">Login</button>
                <a href="#" class="top-input-box" id="sign-up">
				New here? Sign up!
				</a> 
				<a href="#" class="top-input-box" id="sign-up">
				Forgot your password?
				</a> 
		</form>
    </div>
</div>

<main>
<div class="pic-background"></div>
    <div class="child-centered">
        <img src="../assets/img/group-multiracial-happy-friends-taking-selfie-having-fun-beach-95898337.jpg" alt="a group of friends taking a selfie">
    </div>
</main>

     <div class="m-scroll">
        <div class="m-scroll__title">
          <div>
            <h1>
              <a>Share.it </a>
              <a>Share.it </a>
              <a>Share.it </a>
              <a>Share.it </a>
              <a>Share.it </a>
              <a>Share.it </a>
              <a>Share.it </a>
              <a>Share.it </a>
            </h1>
          </div>
        </div>
      </div>

</body>
</html>