<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body> 
    <div>
    <!--will need login button in sliding css element-->
    <div class="login-bar">
        <form class="login-form">
			<input type="text" class="top-input-box" placeholder="Username"/>
            <input type="password" class="top-input-box" placeholder="Password"/>
				<a href="#" class="top-input-box">
				Forgot your password?
				</a> 
                <button class="top-input-box">LOGIN</button>
			</form>
    </div>
    <div>
        <div class="content">
            Share.it
        </div>
    </div>
</div>
</body>
</html>