:root {
  --lilac: #FDF4F5;
  --purmag: #E8A0BF;
  --purp: #7e66d0;
  --borderpurp: #947fe8;
  --graypurp: #d0cdde;
  --liteblu: #C0DBEA;
  --accentpurp: #5929c9;
  --background: #e9f2fa;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Comfortaa', cursive;
  }
  
  main {
    margin-left: 5rem;
  }
  
  body::-webkit-scrollbar {
    width: 0.25rem
  }
  
  body::-webkit-scrollbar-track {
    background: var(--purp)
  }
  
  .nav-bar {
    height: 100vh;
    width: 5rem;
    position: fixed;
    background-color: var(--purp);
    transition: width 200ms ease;
    z-index: 2;
  }
  
  .nav-bar:hover {
    width: 15rem;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center
  }
  
  .nav-item {
    width: 100%
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
  }
  
  .nav-link i {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
    color: white;
    transition: color 200ms ease;
  }
  
  .link-text:hover {
    color: var(--liteblu);
  }
  
  .nav-bar:hover .link-text {
    display: block;
  }

  .drpdwn-container {
    margin-left: 5.5rem;
  }

  .dropdown {
    margin-top: 0.5rem;
  }
  
  .column {
    margin-top: 4rem;
    margin-left: 8.5rem;
  }

  .post-container {
  background: #F0ECE4;
  height: 350px;
  width: 350px;
  border-radius: 5px;
  border: 0.5rem solid var(--liteblu);
  margin-top: 2rem;
  }

  .box-container {
    margin-left: 6rem;
  }

  .box {
    height: 350px;
    width: 350px;
    margins: 1rem;
  }

  .card-image {
    margin-bottom: 1rem;
  }

  @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";