:root {
  --lilac: #FDF4F5;
  --purmag: #E8A0BF;
  --purp: #BA90C6;
  --pinkpurp: #EFA9F2;
  --litepink: #FDEBF9;
  --background: #FAF3E5
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Comfortaa', cursive;
}

main {
  margin-left: 5rem;
}

body::-webkit-scrollbar {
  width: 0.25rem
}

body::-webkit-scrollbar-track {
  background: var(--purp)
}

.nav-bar {
  height: 100vh;
  width: 5rem;
  position: fixed;
  background-color: var(--purp);
  transition: width 200ms ease;
  z-index: 2;
}

.nav-bar:hover {
  width: 15rem;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center
}

.nav-item {
  width: 100%
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
}

.nav-link i {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.link-text {
  display: none;
  margin-left: 1rem;
  color: white;
  transition: color 200ms ease;
}

.link-text:hover {
  color: var(--liteblu);
}

.nav-bar:hover .link-text {
  display: block;
}

.columns {
  left: 5rem;
  margin-top: 0% !important;
}

.title-container {
  padding-top: 50px;
  margin-left: 5rem;
}

.level-left {
  background: #F0ECE4;
  height: 200px;
  width: 100%;
  margin: 0;
  border-radius: 5px;
}

.level {
  background: #F0ECE4;
  height: 200px;
  width: 100%;
  margin: 0;
  border-radius: 5px;
}

#align-titles {
  margin-left: 5rem;
}

.button-container {
  margin-left: 5rem;
}

#button-line {
  margin-left: 6.5rem;
  justify-content: space-evenly !important;
  margin-right: 2rem;
}

.tbl-title {
margin-bottom: 0%;
}

.tbl-container {
  margin-left: 5rem;
}

.table {
  margin-right: 20px !important;
  width: 600px !important;
}

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";